html, body{
    height: 100%; 
    width: 100%;
}

header {
    background-image: url("/assets/img/woodwallbackground.jpg");
    height: 90%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.buzzsawDinerLogo{
    text-align: center;
    margin: 13px auto;
    padding: 100px;
}