<header>
    <link href="https://fonts.googleapis.com/css?family=Galada|Lato&display=swap" rel="stylesheet">
</header>

<div class="aboutUsHeader">
    <p id="italianInspired">Italian Inspired Diner Classics</p>
    <h1 id="doneRight">DONE RIGHT</h1>
</div>

<div class="aboutUsBody">
    <p></p>
    <p>
        Serving made-from-scratch family recipes and signature crowd-pleasers.
        Stop in for a quick bite to eat or stay a while and remember how things
        used to be. 
    </p>
    <p></p>
</div>


