.wrapper{
    text-align: center;
    position: relative;
}

#button1, #button2, #button3{
    border-radius: 25px;
    border: 2px solid black;
    margin: 20px;
    width: 250px;
    height: 60px;
    background: white;
    font-size: 30px;
    font-weight: 600;
    color: black;
}

#button1:hover, #button2:hover, #button3:hover{
    transform: scale(1.02);
    box-shadow: 7px 7px black;
    cursor: pointer;
}

#button1.focus, #button1:focus, #button2.focus, #button2:focus, #button3.focus, #button3:focus {
    outline: 0;
    box-shadow: none!important;
}

.buttons{
    position: absolute;
    z-index: .5;
    bottom: 0;
    display: inline-block
}

#blueBox{
    background-color: #0da58e;
    height: 50px;
    width: 900px;
    display: inline-block
}