.buttons{
    text-align: center;
    padding-bottom: 25px;
}

.button1, .button2, .button3{
    border-radius: 25px;
    border: 3px solid black;
    padding: 5px; 
    margin: 20px;
    width: 250px;
    height: 60px;
    background: #0da58e;
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 rgb(88, 31, 31),
        1px 1px 0 #000;
}

.button1:hover, .button2:hover, .button3:hover{
    transform: scale(1.02);
    box-shadow: 2.5px 2.5px #262626;
    cursor: pointer;
}

.button1.focus, .button1:focus, .button2.focus, .button2:focus, .button3.focus, .button3:focus {
    outline: 0;
    box-shadow: none!important;
}