<div class="wrapper">
    <div class="picture">
        <img src="assets/img/owners.jpeg" alt="Paul and Lois Cella" height="250" width="400px">
        <p>Paul & Lois Cella, Owners of The Buzzsaw Diner</p>
    </div>

    <div class="bio">
        <p>
            Paul, chef of The Buzzsaw Diner, grew up on The Hill in St. Louis, MO. 
            Some of his fondest memories are the smells of homemade italian staples that filled the streets, 
            local shop owners joyfully handing out samples. Lois, front of house, has always had an 
            affinity towards people. Together, they have worked hard to provide the feeling of community that 
            so is hard to recreate in today's world. 
        </p>
        <p>
            What started as a humble concession stand, serving food at local auctions, 
            has developed into a way of life. The Buzzsaw Diner has found a more permanent home in 
            Desoto, MO and is excited to serve the food that people want to eat. 
        </p>
    </div>
</div>
