#largerWrapper{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f0f0f5;
}

#wrapper{
    display: grid;
    grid-template-columns: 20% 25% 35% 20%;
    font-family: Arial, Helvetica, sans-serif;
}

#theBuzzsawStoryImage{
    text-align: center;
}

#pictureOfOwners{
    float: left;
    padding: 20px;
}


#ownersBio{
    font-size: 20px;
}

hr{
    width: 50%;
    border-top: 2px solid black;
}

#padding{
    padding-bottom: 140px;
}


