<div class="wrapper">
    <div class="pictureOfOwners">
        <img src="assets/img/owners.jpeg" alt="Paul and Lois Cella" height="300" width="300">
        <p>
            Paul & Lois Cella <br>
            Owners of The Buzzsaw Diner
        </p>
    </div>

    <div class="ownersBio">
        <p>
            Paul, chef of The Buzzsaw Diner, grew up on The Hill in St. Louis, MO. 
            Some of his fondest memories are the smells of homemade Italian staples that filled the streets, 
            local shop owners joyfully handing out samples. Lois, front of house, has always had an affinity
            towards people, working as a nurse for the last 30 years has only made it grow stronger. 
        </p>

        <p>
            What started as a humble food stand, serving at local auctions on the weekends, 
            has developed into a way of life.
            The Buzzsaw Diner has found a more permanent home in 
            Desoto, MO and is excited to serve the food that people want to eat. 
        </p>
    </div>

    <div class="ownersPopOutCommunityText">
            <img src="assets/img/owners-blurb.png" alt="Owners have worked hard to provide a feeling of community" height="140" width="500">
    </div>
</div>

<div class="empty">
</div>