<div id="largerWrapper"> 
    <hr>

    <div id="wrapper">
    
        <div class="empty"></div>
    
        <div id="pictureOfOwners" class="box">
            <img src="assets/img/owners.jpeg" alt="Paul and Lois Cella">
        </div>
            
        <div id="ownersBio" class="box">
            <p>
                Paul grew up on The Hill in St. Louis, MO. 
                Some of his fondest memories are the smells of homemade Italian staples filling the streets, 
                local shop owners joyfully handing out samples. Lois has always had an affinity
                towards people, working as a nurse for the last 30 years has only made it grow stronger. 
                Together, they work hard to provide the feeling of community that is so hard
                to recreate in today's world.
            </p>
    
            <p>
                What started as a humble food stand, serving at local auctions on the weekends, 
                has developed into a way of life.
                The Buzzsaw Diner has found a more permanent home in 
                Desoto, MO and looks foward to serving the food that people want to eat.
            </p>
        </div>
    
        <div class="empty"></div>
    
    </div>
    
    <hr>
</div>

<div id="padding"></div>
