.wrapper{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 140px;
}

.pictureOfOwners{
    text-align: center;
    padding: 20px;
}

.pictureOfOwners p {
    text-align: left;
    padding-left: 40px;
    font-style: italic;
    font-size: 14px;
}

.ownersBio{
    font-size: 22px;
}

.ownersPopOutCommunityText{
    text-align: center;
}